@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100vh;
  width: 100vw;
  /* background-color: #555; */
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overlay {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  width: 100vw;
  height: 100vh;
  margin-top: 5%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  margin-left: 30%;
  /* z-index: 1; */
}

/* make the content div centered within the overlay */
.content-mine {
  /* position: relative; */
  /* z-index: 2; */
  width: 80%;
  max-width: 600px;
  padding: 20px;
  /* background-color: white; */
  text-align: center;
}